/* imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
/* html */
html {
  scroll-behavior: smooth;
}
/* body */
body {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    background-color: #F5F5F5;
}

/* The navbar css */
nav {
    position: absolute;
    background-color: #1B242F;
    height: 50px;
    width: 100%;
    border-bottom: 2.5px #04C2C9 solid;
}

nav ul {
    float: left;
    margin-left: 110px;
}

nav ul li {
    display: inline-block;
    line-height: 18px;
    margin: 0 35px;
}

nav ul li a {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    transition: .5s;
}

nav ul li a:hover {
    color: #D62139;
}


.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 50px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

  }


#check {
    display: none;
}

@media (max-width: 952px) {
    nav ul li a {
        font-size: 16px;
    }
}
@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: absolute;
        width: 100%;
        height: 40pvh;
        background-color: #333333;
        top: 37px;
        left: -150%;
        text-align: left;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 30px;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }
    a:hover,a.active {
        background: none;
        color: #000; 
    }
    #check:checked ~ ul {
        left: -126px;
    }

    .sticky {
        top: 0px;
      }
      
}

  

/* Section one */
.section1 {
    /* background: url("https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80"); */
    background-color: #252934;
    width: 100%;
    height: 820px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}
.section1-items-container {margin-top: -50px;}

.section1-items-container #item1 {
    color: white;
    font-size: 45px;
    font-weight: 600;
    margin: -30px;
}

.section1-items-container span {
    color: #D62139;
}

#item2 button {
    padding: 8px 23px;
    font-size: 23px;
    background-color: transparent;
    border: white solid 2px;
    font-weight: 900;
    color: white;
    transition: .5s;
    font-family: 'Raleway', sans-serif;
}

#item2 button:hover {
    background-color: #04C2C9;
    border: #04C2C9 solid 2px;
}

@media (max-width: 952px) {
    .section1-items-container #item1 {
        font-size: 40px;
        margin: -20px;
    }

    #item2 button {
        padding: 8px 23px;
        font-size: 22px;
    }

}

@media (max-width: 658px) { 
    .section1-items-container #item1 {
        font-size: 25px;
        margin: -7px;
    }

    #item2 button {
        padding: 6.8px 19.5px;
        font-size: 18.7px;
    }

    .section1 {
        height: 820px;
    }

 }

 /* Section2 */

 .section2 {
     background-color: white;
    margin-top: 55px;
    width: 100%;
    height: 1090px;
    text-align: center;
}

.section2 h1 {
    padding-top: 50px;
    color: #444;
    font-weight: 550;
    font-size: 35px;
    border-bottom: solid 4.5px #444;
    width: 115px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    margin-top: 110px;
}

.flex-qualities {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: auto;
    margin-bottom: 90px;
}

.quality img{
    width: 120px;
    margin-bottom: -20px;
}

.quality p {
    font-size: 15px;
    margin-top: -8px;
    width: 230px;
}

.quality h3 {
    font-size: 23px;
}

.flex-overview {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-overview {
width: 80%;
margin: auto;
}

.flex-overview img {
    width: 280px;
}

.flex-overview p {
    width: 400px;
    font-size: 16px;
    margin-top: -10px;
    color: gray;
    margin: auto;
}

.flex-overview h3 {
    font-size: 22px;
    margin-top: -5px;
}

.img-and-text {
    width: 500px;
    text-align: center;
}

/* Skills */

.flex-skills {
    margin: auto;
}

        /* Stylingthe last h2 tag by giving margin bottom */
        .progress-bar-container:not(:last-child) {
            margin-bottom: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
 
        /* Styling the h2 tag by giving color,
        letter spacing, font-size etc.*/
        .progress-bar-container h2 {
            color: #666;
            letter-spacing: 1px;
            font-size: 15px;
            padding: 4px 4px 4px 4px;
        }
 
        /* Styling the border and box
        effect of the progress bar*/
        .progress-bar {
            width: 550px;
            height: 28px;
            margin-top: 15px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            background: #eee;
            font-family: 'Raleway', sans-serif;
        }
 
        /* Stylingthe background color of each
        animation and border radius */
        .percentage {
            display: block;
            height: 100%;
            background-color: #00A1A7;
            animation: progress 1500ms ease-in-out 1;
        }

        /* Animating the progress bar by
        initially starting from 0*/
        @keyframes progress {
            from {
                width: 0;
            }
        }
        
        .item1 {
        text-align: center;
        }
        
        .item1 h2 {
        color: #fff;
        background: #04C2C9;
        height: 20px;
        width: 100px;
        margin-top: 0px;
        }
        
        .item2 h2 {
        color: #777;
        background: #eee;
        height: 20px;
        width: 70px;
        margin-top: 0px;
        }
        
        .item2 {
        text-align: center;
        }

        .qualities-sub-container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
        }

        
@media (max-width: 952px) {}

@media (max-width: 658px) {

    .section2 {
       margin-top: 55px;
       width: 100%;
       height: 1352px;
   }
   
   .section2 h1 {
    padding-top: 58px;
    font-weight: 550;
    font-size: 33px;
    border-bottom: solid 4.5px;
    width: 109px;
    margin: auto;
}

    .flex-overview {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }

    .flex-qualities {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 90%;
        margin: auto;
        margin-bottom: 90px;
    }
    .qualities-sub-container {
        display: flex;
    }

    .progress-bar {
        width: 330px;
        height: 21px;
        margin-top: 12px;
    }

    .progress-bar-container h2 {
        padding: 1px .5px 0px .5px;
        font-size: 10px;
    }
    
    .item1 h2 {
        color: #fff;
        background: #04C2C9;
        height: 20px;
        width: 70px;
        margin-top: 0px;
        }
        
        .item2 h2 {
        color: transparent;
        background: #eee;
        height: 20px;
        width: 40px;
        margin-top: 0px;
        }

    .img-and-text {
        margin-top: -50px;
        margin-bottom: 50px;
        width: 100%;
    }
    
.flex-overview p {
    width: 325px;
    font-size: 15px;
    margin-top: -10px;
    margin: auto;
}

.quality p {
    margin: auto;
    font-size: 12px;
    margin-top: -8px;
    width: 90%;
}

.quality img{
    width: 100px;
    margin-bottom: -15px;
}

.quality h3 {
    font-size: 18px;
}

.flex-overview img {
    width: 230px;
}

.flex-container {
    margin-top: 80px;
}

}

/* section4 */
.section4 {
    background-color: #252934;
    height: 700px;
}

 /* #flag {
    border-top: 70px solid #F5F5F5;
    border-left: 759px solid transparent;
    border-right: 759px solid transparent;
  } */

.section4 h1 {
    padding-top: 100px;
    padding-bottom: 5px;
    color: #F5F5F5;
    font-weight: 550;
    font-size: 38px;
    border-bottom: solid 4.5px #F5F5F5;
    width: 185px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.section4 p {
    color: #05BEC5;
    padding-top: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 35%;
    margin: auto;
}

input, textarea {
    background-color: #1E242C;
    padding: 10px;
    margin-top: 5px;
    border: 0px;
    color: white;
    outline: none;
    font-size: 16px;
  }
  textarea {
      height: 125px;
  }

  .contact-form button {
    padding: 11px 20px;
    font-size: 15px;
    background-color: transparent;
    border: white solid 2px;
    font-weight: 900;
    color: white;
    transition: .5s;
    font-family: 'Raleway', sans-serif;
    margin-top: 8px;
    width: 120px;
    float: right;
  }

  .contact-form button:hover {
    background-color: #04C2C9;
    border: #04C2C9 solid 2px;
}

/* footer */
.footer {
    height: auto;
    width: 100%;
    background-color: #1B242F;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer ul {
    display: flex;
    list-style: none;
    width: 357px;
}

.footer ul li {
    padding: 20px 15px;
    margin-right: 10px;
    background-color: #262F38;
    color: white;
}

.footer p {
    color: gray;
    margin-bottom: 50px;
    font-size: 13px;
    opacity: .9;
}

.footer span {
    font-size: 15px;
}

.footer-flex {
    display: flex;
    margin: auto;
    flex-direction: column;
}

.footerflex-items {
    display: flex;

}

/* Social animation */

.middle{
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 16px;
  }
  .btn{
    display: inline-block;
    width: 55px;
    height: 55px;
    background: #262F38;
    margin: 10px;
    color: #fff;
    overflow: hidden;
    position: relative;
  }
  .btn i{
    line-height: 60px;
    font-size: 22px;
    transition: 0.2s linear;
  }
  .btn:hover i{
    transform: scale(1);
    color: #f1f1f1; 
    animation: social .7s 1;
  }

  @keyframes social {
      0%{
        margin-top: 0px;
    }

      50%{
          margin-top: 100px;
      }

      100%{
          margin-top: 0px;
      }
  }
  .btn::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #04c2c9;
    transform: rotate(0deg);
    left: -120%;
    top: 90%;
  }
  .btn:hover::before{
    animation: aaa .7s 1;
    top: -10%;
    left: -10%;
  }
  @keyframes aaa {
    0%{
      left: -110%;
      top: 90%;
      transform: rotate(0deg);
      border-radius: 100%;
      transform: scale(0.1);
    }50%{
      left: 10%;
      top: -30%;
      transform: rotate(45deg);
  
    }100%{
      top: -10%;
      left: -10%;
      transform: rotate(90deg);
  
    }
  }

  .up {
      height: 50px;
      width: 47px;
      background-color: #e31b6d;
      margin: auto;
      position: relative;
      top: -25px;
      line-height: 80px;
  }
.up a {
    color: white;
}

.up:hover {
    background-color: #ff207d;
}

.section4 .flex-container {
    display: flex;
    width: 100%;
    height: 100px;
    background: whitesmoke;
    margin-bottom: 0px;
    z-index: -10;
  }

  .flex-container #item1 {
    position: relative;
    width: 50%;
    height: 100px;
    background: #252934;
    transform: skewY(5deg);
    margin-top: 60px;
    z-index: 0;
  }
  .flex-container #item2 {
    width: 50%;
    height: 100px;
    background: #252934;
    transform: skewY(-5deg);
    margin-top: 60px;
  }

  @media (max-width: 658px) {
    .flex-container #item1 {
        transform: skewY(15deg);
      }
      .flex-container #item2 {
        transform: skewY(-15deg);
      }

      .footer p {
        margin-top: 27px;
        margin-bottom: 47px;
        font-size: 15px;
    }

    .contact-form {
        width: 92%;
    }

    .btn{
        margin: 13px;
        width: 65px;
        height: 65px;
      }
    
      .footer span {
        font-size: 17px;
    }

    .up {
        height: 55px;
        width: 52px;
        background-color: #e31b6d;
        margin: auto;
        position: relative;
        top: -25px;
        line-height: 85px;
    }
    
.section4 p {
    color: #05BEC5;
    padding-top: 17px;
    font-size: 13px;
    padding-bottom: 17px;
}
  }

  /* section3 */

  .section3 {
    background-color: #F5F5F5;
    margin-top: 55px;
    width: 100%;
    min-height: 550px;
    height: auto;
    text-align: center;
}

.section3 h1 {
    padding-top: 25px;
    padding-bottom: 5px;
    color: #3b3b3b;
    font-weight: 550;
    font-size: 38px;
    border-bottom: solid 5px #3b3b3b;
    width: 198px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}


.section3 input{
    display: none;
}

.section3 .tag{
    font-size: 18px;
    margin: 4em 2.75em 1.5em 2.75em;
    padding: 5px 46px;
    border-radius: 0px;
    display: inline-block;
    cursor: pointer;
    background: transparent;
    text-decoration: none;
    color: #616161;
    border: 0px solid #E31C6E;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.section3 img{
    max-width: 100%;
    width: 390px;
    height: 300px;
}

.section3 .images {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}
/*filter CSS */

 #fish:checked ~ .images > div:not([class*='fish']),
 #birds:checked ~ .images > div:not([class*='birds']),
 #lion:checked ~ .images > div:not([class*='lion']){
   opacity: 0;
   position: fixed;
}

#all:checked ~ .all,
#fish:checked ~ .tag1, 
#birds:checked ~ .tag2,
#lion:checked ~ .tag3{
    background-color: #E31C6E;      
    color: white;
    transition: all .5s ease-out;
} 

/* images hover, section3 */


.projects-container {
    position: relative;
  }
  
  .projects-container .image {
    opacity: 1;
    transition: .4s ease;
  }
  
  .projects-container .middle {
    transition: .3s ease-out;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    display: grid;
    grid-gap: 150px;
  }
  
  .projects-container:hover .image {
    opacity: 0;
  }
  
  .projects-container:hover .middle {
    opacity: 1;
    grid-gap: 10px;
  
  }

  .projects-container h2 {
      font-size: 21px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 500;
      margin-top: -45px;
  }

   .projects-container button {
      padding: 10px 28px;
      font-size: 17px;
      background-color: white;
      border: #e31b6d solid 2px;
      font-weight: 900;
      color: black;
      transition: .3s;
      font-family: 'Raleway', sans-serif;
      margin-top: 42px;
  }
  
   button:hover {
      background-color: #e31b6d;
      border: #e31b6d solid 2px;
      color: white;
  }
  
  .projects-container p {
    color: #e31b6d;
    margin-top: -20px;
  }